@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css ";

body {
    font-family: PT Serif Caption, serif;
    font-size: x-large;
    color: #bcb8c4;
    background-image: url(https://images.wallpaperscraft.com/image/books_library_shelves_138556_1920x1080.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0;
}

* {
    color: antiquewhite;
}

table, th, td {
    border: 2px solid rgb(193 130 104);
    background-color: #231a1294;
    border-collapse: collapse;
}

table {
    width: 60%;
}

th, td {
    padding: 10px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 11px;
    overflow: hidden;
    background-color: #2b200cc7;
    position: fixed;
    color: antiquewhite;
    top: 0;
    width: 100%;
}

li {
    float: left;
    padding: 8px;
}

li a {
    display: block;
    color: antiquewhite;
    text-align: center;
    padding: 4px 4px;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: goldenrod;
}

h3 {
    margin-top: 27px;
    font-weight: 900;
    color: #ffb988;
}

input{
    color: black;
    background: #d69f78;
}